@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

/* global styles */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font load */
@font-face {
    font-family: "Azo Sans";
    src: url("https://yoursite.com/css/fonts/CustomFont.eot");
}

body {
    font-family: 'Open Sans', sans-serif;
}



/* Section: Home */
.home {
    background-color: #F8F8F8;
    padding: 1rem 0 7rem 0;
}

.home__container {
    margin-left: 7rem;
    display: flex;
}

.home__text-content {
    align-self: center;
}

.home__text-content h1 {
    font-weight: 700;
    font-size: 2.0625rem;
    line-height: 45px;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 1rem;
}

.home__text-content p {
    font-size: 1.125rem;
    color: #696871;
    line-height: 30px;
    margin-bottom: 2rem;
}

.home__text-content a {
    display: inline-block;
    background-color: #FF8C00;
    color: #FFFFFF;
    font-size: 1.0625rem;
    text-transform: uppercase;
    border-radius: .6rem;
    font-weight: 700;
    text-decoration: none;
    padding: 1rem 3rem;
}

.home__img-container {
    margin-top: -2rem;
}

/* .home__img-container img {} */


/* Section: Features */
.features {
    padding: 6rem 0 10rem 0;
}

.features__container {
    /* margin-left: 7rem; */
    padding-inline: 7rem;
}

.features__top {
    display: flex;
    gap: 6rem;
}

.features__video-box {
    padding: 1rem;
    border: 2px solid #EAEAEA;
    border-radius: 14px;
}

.features__top-content {
    align-self: center;
}

.features__top-content h2 {
    font-weight: 500;
    font-size: 1.875rem;
    color: #434343;
    line-height: 38px;
    width: 80%;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.features__top-content a {
    color: #FF8C00;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9375rem;
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: 1px solid #FF8C00;
}


.features__mid {
    display: flex;
    /* gap: 5rem; */
    margin-bottom: 3rem;
}

.features__mid>* {
    flex: 1;
}

.features__mid-content {
    align-self: center;
}

.features__mid-content h2 {
    color: #333333;
    text-transform: uppercase;
    font-size: 2.0625rem;
    font-weight: 700;
    line-height: 45px;
    margin-bottom: 1rem;
    max-width: 80%;
}

.features__mid-content h2 span {
    color: #FF8C00;
}

.features__mid-content p {
    color: #696871;
    font-size: 400;
    margin-bottom: 1rem;
    max-width: 75%;
    text-transform: capitalize;
}

.features__mid-content a {
    display: inline-block;
    background-color: #FF8C00;
    color: #FFFFFF;
    font-size: 1.0625rem;
    text-transform: uppercase;
    border-radius: .6rem;
    font-weight: 700;
    text-decoration: none;
    padding: 1rem 3rem;
}

.features__img-box {
    margin-top: -7rem;
}

.features__bottom {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

.features__bottom>* {
    flex: 1;
    margin-top: 5rem;
}


/* Section: Contact */
.contact {
    background: linear-gradient(269.5deg, #FF8C00 9.29%, rgba(255, 140, 0, 0.75) 80.29%);
    color: #953622;
}

.contact__container {
    display: flex;
}

.contact__content {
    align-self: center;
    margin-left: 7rem;

}

.contact__content h2 {
    text-transform: uppercase;
    font-size: 2.0625rem;
    font-weight: 700;
    line-height: 45px;
    margin-bottom: 1rem;
    max-width: 80%;
}

.contact__content p {
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.contact__content a {
    display: inline-block;
    font-size: 1.0625rem;
    text-transform: uppercase;
    border-radius: .6rem;
    font-weight: 700;
    text-decoration: none;
    padding: 1rem 3rem;
}

.contact__content a:first-of-type {
    color: #FFFFFF;
    background-color: #953622;
    margin-right: 1rem;
}

.contact__content a:last-of-type {
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    padding: 1rem 2rem;
}

.contact__buttons {
    display: flex;
    /* gap: .2rem; */
}

/* .contact__buttons>* {
    flex: 1;
} */

/* Section: Clients */
/* .clients {} */

.clients__container {
    padding: 9rem 7rem;
}

.clients__container h2 {
    text-transform: uppercase;
    font-size: 2.0625rem;
    font-weight: 700;
    line-height: 45px;
    margin-bottom: 4rem;
    max-width: 80%;
}

.clients__container h2:first-of-type {
    color: #434343;
}

.clients__container h2:last-of-type {
    color: #FF8C00;
}

.clients__top {
    margin-bottom: 10rem;
}

.clients__logos-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.8rem;
}

.clients__logos-bottom {
    display: flex;
    justify-content: space-between;
}

.clients__bottom {
    display: flex;
    gap: 2rem;
}

.clients__bottom>* {
    flex: .26;
}